
.main-information {
    font-size: 1.5vw;
    display: flex;
    margin: 0 10%;
    text-align: left;
}

.main-information div{
    width: 50%;
}

.first-slide h1 {
    text-transform: initial;
    margin-bottom: 0;
}

.first-slide ul {
    margin-bottom: 15px;
}

ul li {
    font-size: 35px;
}


ol li {
    font-size: 25px;
}

.main-information {
    display: flex;
    flex-wrap: wrap;
}


.fanding_line {
    margin: 25px 0;
    height: 1px;
    background: orange;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(19,19,19)), to(rgb(19,19,19)), color-stop(50%, orange));
}