
.main-information {
    font-size: 1.5vw;
    display: flex;
    margin: 0 10%;
    text-align: left;
}

.main-information div{
    width: 50%;
}

.first-slide h1 {
    text-transform: initial;
    margin-bottom: 0;
}

.first-slide ul {
    margin-bottom: 15px;
}

ol li, ul li {
    font-size: 35px;
}

.main-information {
    display: flex;
    flex-wrap: wrap;
}
